.square{
  width: 60px;
  height: 60px;
  background-color: lightblue;
  border: 2px solid black;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -4px;
  text-align: center;
  font-size: 50px;
}

.safe{
  background-color: green;
  animation: transition 1s 1;
}

@keyframes transition{
  0%{
    background-color: lightblue;
  }
  100%{
    background-color: green;
  }
}

.notSafe{
  background-color: red;
}